#
# PHPStan configuration.
# Base rules loaded from resources/phpstan/rules.neon
#
includes:
    - resources/phpstan/rules.neon

parameters:
    phpVersion: 80300
    level: 6

    paths:
        - src

    excludePaths:
        - */vendor/*

    bootstrapFiles:
        - vendor/autoload.php

    ignoreErrors:
        # Composer\Script\Event is only available when running via composer scripts
        - '#Parameter \$event of method .* has invalid type Composer\\Script\\Event#'
        - '#Call to method getIO\(\) on an unknown class Composer\\Script\\Event#'
